/* TAGS */
body {
    background-color: azure;
    font-size: 7pt;
}
footer {
    color: black;
    padding: 4px 4px 4px 20px;
    
}
footer > h2>  a {
    color: black;
}
header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin: 1em;
}
header > h1{
    color: black;
}
main { 
    background-color: azure;
    border-radius: 10px;
    color: white;
    display: grid;
    font-family: helvetica;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
    "H . . . PTL PTL PTL PTL PTL PTL PTL PTL . . . . . . He"
    "Li Be . . PTL PTL PTL PTL PTL PTL  PTL PTL . B C N O F Ne"
    "Na Mg . . . . . . . . . . . Al Si P S Cl Ar"
    "K Ca Sc . Ti V Cr Mn Fe Co Ni Cu Zn Ga Ge As Se Br Kr"
    "Rb Sr Y . Zr Nb Mo Tc Ru Rh Pd Ag Cd In Sn Sb Te I Xe"
    "Cs Ba Lanthanoids . Hf Ta W Re Os Ir Pt Au Hg Tl Pb Bi Po At Rn"
    "Fr Ra Actinoids . Rf Db Sg Bh Hs Mt Ds Rg Cn Nh Fl Mc Lv Ts Og"
    ". . . . . . . . . . . . . . . . . . ."
    ". . . La Ce Pr Nd Pm Sm Eu Gd Tb Dy Ho Er Tm Yb Lu ."
    ". . . Ac Th Pa U Np Pu Am Cm Bk Cf Es Fm Md No Lr .";
    justify-content: center;
    padding: 10px;
}

/* IDs */
#backToDashboard {
    text-align: end;
}
#backToDashboard > a {
    color: black;
}
#modalBackground {
    background-color: rgba(0,0,0,0.0);
    grid-area: 1 / 1 / 11 / 20;
    visibility: hidden;
    z-index: 10;
}
/*
#modalCloseButtonX {
    display: inline;
    line-height: 0em;
    padding: 0em;
    margin: 0em;
    position: relative;
}
*/
#modalCloseButton {
    font-size: 1.1em
}
#modalContent {
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    color: black; 
    font-size: 2.5em;
    height: 90%;
    margin: 0em auto;
    max-height: 800px;
    max-width: 650px;
    opacity: 1;
    padding: 2%;
    text-align: center;
    visibility: inherit;
    width: 75%;
    z-index: 15;
}
#modalContent > p {
    text-align: left; 
    line-height: 1.5em;
}
#modalMiniElement {
    border: 2px solid black;
    color: white;
    justify-self: center;
    margin: 0 auto;
    max-width: 40%;
}
#PTLegend {
    box-sizing: border-box;
    grid-area: PTL;
}
#PTLegend > h1 {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    height: 32%;
    justify-content: center;
    margin: auto 0em;
    overflow: auto;
    padding: auto 0em;
    padding-top: 2%;
    text-align: center;
    width: 32%;
}
#settingsButton {
    justify-self: right;
}

/* CLASSES */
.bottomRow {
    margin: 0;
    padding: 0;
}
.bottomRow > h5 {
    font-size: .9em;
    margin: 0;
    padding: 0;
}
.element {
    background-color: gray;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1em;
    justify-content: space-between;
    padding: 0 2px;
    text-align: center;
}
.element:hover {
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    transform: scale(1.5);
    z-index: 5;
}
.element > h1 {
    font-size: 1.7em;
    margin: 0;
    padding: 0;
}
.topRow {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0em;
    padding: 0em 2px;
}
.topRow > h4 {
    font-size: .9em;
    margin: 0;
    padding: 0;
}

/* Element Type */
.alkaliMetals {
    background-color: brown;
}
.alkalineEarthMetals {
    background-color: orange;
}
.lanthanoids {
    background-color: darkblue;
}
.actinoids {
    background-color: maroon;
}
.transitionMetals {
    background-color: red;
}
.postTransitionMetals {
    background-color: blue;
}
.metalloids {
    background-color: darkgreen;
}
.reactiveNonmetals {
    background-color: limegreen;
}
.nobleGases {
    background-color: purple;
}
.noSeries {
    background-color: #474747;
}



/* Periodic Table */
#H {
    grid-area: H;
}
#He {
    grid-area: He;
}
#Li {
    grid-area: Li;
}
#Be {
    grid-area: Be;
}
#B {
    grid-area: B;
}
#C {
    grid-area: C;
}
#N {
    grid-area: N;
}
#O {
    grid-area: O;
}
#F {
    grid-area: F;
}
#Ne {
    grid-area: Ne;
}
#Na {
    grid-area: Na;
}
#Mg {
    grid-area: Mg;
}
#Al {
    grid-area: Al;
}
#Si {
    grid-area: Si;
}
#P {
    grid-area: P;
}
#S {
    grid-area: S;
}
#Cl {
    grid-area: Cl;
}
#Ar {
    grid-area: Ar;
}


#K {
    grid-area: K;
}
#Ca {
    grid-area: Ca;
}
#Sc {
    grid-area: Sc;
}
#Ti{
    grid-area: Ti;
}
#V {
    grid-area: V;
}
#Cr {
    grid-area: Cr;
}
#Mn {
    grid-area: Mn;
}
#Fe {
    grid-area: Fe;
}
#Co {
    grid-area: Co;
}
#Ni {
    grid-area: Ni;
}
#Cu {
    grid-area: Cu;
}
#Zn {
    grid-area: Zn;
}
#Ga {
    grid-area: Ga;
}
#Ge {
    grid-area: Ge;
}
#As {
    grid-area: As;
}
#Se {
    grid-area: Se;
}
#Br {
    grid-area: Br;
}
#Kr {
    grid-area: Kr;
}


#Rb {
    grid-area: Rb;
}
#Sr {
    grid-area: Sr;
}
#Y {
    grid-area: Y;
}
#Zr {
    grid-area: Zr;
}
#Nb {
    grid-area: Nb;
}
#Mo {
    grid-area: Mo;
}
#Tc {
    grid-area: Tc;
}
#Ru {
    grid-area: Ru;
}
#Rh {
    grid-area: Rh;
}
#Pd {
    grid-area: Pd;
}
#Ag {
    grid-area: Ag;
}
#Cd {
    grid-area: Cd;
}
#In {
    grid-area: In;
}
#Sn {
    grid-area: Sn;
}
#Sb {
    grid-area: Sb;
}
#Te {
    grid-area: Te;
}
#I {
    grid-area: I;
}
#Xe {
    grid-area: Xe;
}



#Cs {
    grid-area: Cs;
}
#Ba {
    grid-area: Ba;
}
#Lanthanoids {
    grid-area: Lanthanoids;
}
#Hf {
    grid-area: Hf;
}
#Ta {
    grid-area: Ta;
}
#W {
    grid-area: W;
}
#Re {
    grid-area: Re;
}
#Os {
    grid-area: Os;
}
#Ir {
    grid-area: Ir;
}
#Pt {
    grid-area: Pt;
}
#Au {
    grid-area: Au;
}
#Hg {
    grid-area: Hg;
}
#Tl {
    grid-area: Tl;
}
#Pb {
    grid-area: Pb;
}
#Bi {
    grid-area: Bi;
}
#Po {
    grid-area: Po;
}
#At {
    grid-area: At;
}
#Rn {
    grid-area: Rn;
}



#Fr {
    grid-area: Fr;
}
#Ra {
    grid-area: Ra;
}
#Actinoids {
    grid-area: Actinoids;
}
#Rf {
    grid-area: Rf;
}
#Db {
    grid-area: Db;
}
#Sg {
    grid-area: Sg;
}
#Bh {
    grid-area: Bh;
}
#Hs {
    grid-area: Hs;
}
#Mt {
    grid-area: Mt;
}
#Ds {
    grid-area: Ds;
}
#Rg {
    grid-area: Rg;
}
#Cn {
    grid-area: Cn;
}
#Nh {
    grid-area: Nh;
}
#Fl {
    grid-area: Fl;
}
#Mc {
    grid-area: Mc;
}
#Lv {
    grid-area: Lv;
}
#Ts {
    grid-area: Ts;
}
#Og {
    grid-area: Og;
}


#La {
    grid-area: La;
}
#Ce {
    grid-area: Ce;
}
#Pr {
    grid-area: Pr;
}
#Nd {
    grid-area: Nd;
}
#Pm {
    grid-area: Pm;
}
#Sm {
    grid-area: Sm;
}
#Eu {
    grid-area: Eu;
}
#Gd {
    grid-area: Gd;
}
#Tb {
    grid-area: Tb;
}
#Dy {
    grid-area: Dy;
}
#Ho {
    grid-area: Ho;
}
#Er {
    grid-area: Er;
}
#Tm {
    grid-area: Tm;
}
#Yb {
    grid-area: Yb;
}
#Lu {
    grid-area: Lu;
}


#Ac {
    grid-area: Ac;
}
#Th {
    grid-area: Th;
}
#Pa {
    grid-area: Pa;
}
#U {
    grid-area: U;
}
#Np {
    grid-area: Np;
}
#Pu {
    grid-area: Pu;
}
#Am {
    grid-area: Am;
}
#Cm {
    grid-area: Cm;
}
#Bk {
    grid-area: Bk;
}
#Cf {
    grid-area: Cf;
}
#Es {
    grid-area: Es;
}
#Fm {
    grid-area: Fm;
}
#Md {
    grid-area: Md;
}
#No {
    grid-area: No;
}
#Lr {
    grid-area: Lr;
}


/* MEDIA QUERIES */
@media (max-width: 699px) { 
    body {
        background-color: azure;
        font-size: 2pt;
    }
    main {
        grid-template-rows: repeat(10, 35px);
    }
    .element {
        font-size: 1.8em;
        padding: 1px 0px;
    }
    .element > h1 {
        font-size: 2.5em;
        margin: 0;
        padding: 0;
    }
    #modalContent {
        width: 45%;
    }
    #modalContent > p{
        font-size: 1.8em;
    }
}

@media (min-width: 700px) {
    body {
        background-color: azure;
        font-size: 3pt;
    }
    main {
        grid-template-rows: repeat(10, 40px);
    }
    .element {
        font-size: 1.4em;
        padding: 0 1px;
    }
    .element > h1 {
        font-size: 3em;
        margin: 0;
        padding: 0;
    }
    #modalContent {
        width: 45%;
    }
    #modalContent > p{
        font-size: 1.4em;
    }
}

@media (min-width: 1000px) {
    body {
        background-color: azure;
        font-size: 4pt;
    }
    main {
        grid-template-rows: repeat(10, 1fr);
    }
    .element {
        font-size: 1.5em;
        padding: 0 1px;
    }
    .element > h1 {
        font-size: 3em;
        margin: 0;
        padding: 0;
    }
    #modalContent > p{
        font-size: 1.3em;
    }
}
  
@media (min-width: 1300px) { 
    body {
        background-color: azure;
        font-size: 7pt;
    }
    main {
        grid-template-rows: repeat(10, 1fr);
    }
    .element {
        border-radius: 8px;
        font-size: 1.14em;
        padding: 0 1px;
    }
    .element > h1 {
        font-size: 3em;
        margin: 0;
        padding: 0;
    }
    #modalContent > p{
        font-size: .9em;
    }
}
